body {
  margin: 0;
  background: #000;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('IMG_1259.MOV') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}

#momma {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 10px;
  width: 75%;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  max-width: 600px;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  text-align: center;
}

p {
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(IMG_1259.MOV) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}